.input {
    z-index: 60;
    position: relative;
}

.card {
    z-index: 60;
    position: relative;
    background-color: #ffffff;
    margin-top: 18px;
    overflow: hidden;
}

.more {
    display: flex;
    text-align: center;
    justify-content: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    cursor: pointer;
}
