.wrapper {
    display: flex;
    padding: 38px;
    flex-direction: column;
    border-radius: 8px;
    box-sizing: border-box;
    box-shadow: rgba(155, 179, 209, 0.3) 0 0 2px 0, rgba(170, 187, 208, 0.5) 0 4px 8px -4px;
    cursor: pointer;
    justify-content: space-between;
}

.image {
    align-self: center;
    max-width: 100%;
    margin-bottom: 20px;
}

.caption {
    display: block;
    text-align: center;
    word-break: break-word;
}
