.wrapper {
    display: flex;
    padding: 38px;
    flex-direction: column;
    border-radius: 8px;
    box-sizing: border-box;
    cursor: pointer;
    justify-content: space-between;
}

@media (max-width: 540px) {
    .wrapper {
        padding: 26px;
    }
}

.image {
    align-self: center;
    max-width: 100%;
    margin-bottom: 20px;
}

.caption {
    display: block;
    text-align: center;
    word-break: break-word;
}
