.wrapper {
    display: grid;
    display: -ms-grid;
}
figure {
    display: block;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

.scroller {
    margin: 15px auto 0 auto;
    width: 71px;
    height: 36px;
    display: flex;
    border: 1px solid #d5dae0;
    box-sizing: border-box;
    border-radius: 6px;
    outline: none;
}

.scroller-button {
    border: 0;
    border-radius: 6px;
    width: 50%;
    height: 100%;
    background: #ffffff;
    cursor: pointer;
    z-index: 1;
    color: inherit;
}
.scroller-button:focus{
    outline-color: inherit;
}
.scroller-button:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.scroller-button:disabled {
    cursor: auto;
}

.del {
    width: 1px;
    height: 100%;
    background-color: #d5dae0;
}
