/* Отключение стрелок в input type='number'*/
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type='number'] {
    -moz-appearance: textfield;
}

.wrapper {
    position: relative;
    display: grid;
    display: -ms-grid;
    grid-template-columns: fit-content(21px) 1fr fit-content(21px);
    -ms-grid-columns: min-content 1fr min-content;
    -ms-grid-rows: 1fr;
}
.wrapper.focused {
    box-shadow: 0 0 6px #eaeef4;
}

.input {
    color: #000000;
    -webkit-text-fill-color: #000000;
    opacity: 1;
    display: flex;
    align-items: center;
    border: 0;
    box-sizing: border-box;
    cursor: text;
    border-radius: 0;
}
.input:disabled {
    color: #000000;
    -webkit-text-fill-color: #000000;
    opacity: 1;
}

.input.right {
    text-align: right;
}

.leftArea {
    -ms-grid-column: 1;
}
.leftAreaBorderRadius {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.inputArea {
    width: 100%;
    -ms-grid-column: 2;
}
.inputArea:focus {
    outline: none;
}
.rightArea {
    -ms-grid-column: 3;
}
.rightAreaBorderRadius {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.defaultInput {
    background-color: #eaeef4;
    /*
    При автозаполнении браузеры красят input в свой цвет.
    Это правило никак не переопределить, поэтому делаем костыль:
    Добавляем внутреннюю тень без размытия на весь input
    */
    box-shadow: inset 9999999px 9999999px 0 #eaeef4;
}

.error {
    background-color: #ffe3e3;
    /*
    При автозаполнении браузеры красят input в свой цвет.
    Это правило никак не переопределить, поэтому делаем костыль:
    Добавляем внутреннюю тень без размытия на весь input
    */
    box-shadow: inset 9999999px 9999999px 0 #ffe3e3;
}
.success {
    background-color: #dcf9e3;
    /*
    При автозаполнении браузеры красят input в свой цвет.
    Это правило никак не переопределить, поэтому делаем костыль:
    Добавляем внутреннюю тень без размытия на весь input
    */
    box-shadow: inset 9999999px 9999999px 0 #dcf9e3;
}
.warning {
    background-color: #fff4c8;
    /*
    При автозаполнении браузеры красят input в свой цвет.
    Это правило никак не переопределить, поэтому делаем костыль:
    Добавляем внутреннюю тень без размытия на весь input
    */
    box-shadow: inset 9999999px 9999999px 0 #fff4c8;
}
.white {
    background-color: #ffffff;
    /*
    При автозаполнении браузеры красят input в свой цвет.
    Это правило никак не переопределить, поэтому делаем костыль:
    Добавляем внутреннюю тень без размытия на весь input
    */
    box-shadow: inset 9999999px 9999999px 0 #ffffff;
}

.leftIconExist {
    padding-left: 22px;
}

.disabled {
    cursor: default;
}
