.icon {
    cursor: pointer;
}

.wrapper {
    position: relative;
}

.tooltip {
    position: absolute;
    max-width: 80%;
    z-index: 70;
    padding: 15px;
    background: #ffffff;
    box-sizing: border-box;
    box-shadow: 0 4px 6px rgba(170, 187, 208, 0.16);
    border-radius: 6px;
    font-size: 12px;
    line-height: 17px;
    color: #8a919c;
    text-align: left;
}

.tooltip:before,
.tooltip:after {
    position: absolute;
    pointer-events: none;
    content: '';
    height: 0;
    width: 0;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
}

.fakeBody {
    position: absolute;
    width: 45px;
    height: 45px;
    top: -10px;
    left: -10px;
}
