.input {
    background: #eaeef4;
    border: 0;
    height: 60px;
    width: 100%;
    padding: 21px;
    font-size: 16px;
    font-family: Lato;
    line-height: 19px;
    border-radius: 6px;
    box-sizing: border-box;
}
.input:focus {
    outline: none;
}
