.button {
    background: #69a6f1;
    border: 0;
    width: 100%;
    padding: 22px;
    font-size: 16px;
    line-height: 16px;
    border-radius: 6px;
    box-sizing: border-box;
    color: #f2f2f2;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
}
.button:focus {
    outline: none;
}
