.wrapper {
    width: 100%;
    margin-bottom: 20px;
    cursor: pointer;
    box-sizing: border-box;
}

.active {
    background: #f2f6fb;
    cursor: default;
}

.card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-size: 20px;
    line-height: 20px;
    box-sizing: border-box;
    height: 94px;
}

.title {
    margin-right: 10px;
    overflow: hidden;
    white-space: nowrap;
    direction: rtl;
    text-overflow: ellipsis;
    text-align: left;
}

.image {
    width: 80px;
    margin-right: 10px;
}

.cvv {
    width: 156px;
}

.hidden {
    cursor: pointer;
    visibility: hidden;
}

.delete {
    font-size: 20px;
    line-height: 20px;
    text-align: right;
    color: #a6aab0;
    border: none;
    background: none;
    cursor: pointer;
    margin-left: 10px;
    padding: 0;
}

.delete:focus,
.delete:active,
.delete:hover {
    outline: none;
    border: none;
}

@media (max-width: 540px) {
    .card {
        font-size: 16px;
        line-height: 16px;
        height: 80px;
    }
    .delete {
        font-size: 16px;
        line-height: 16px;
    }
    .image img,
    .image svg {
        max-width: 60px;
        min-width: 60px;
    }
    .cvv {
        max-width: 65px;
        min-width: 65px;
    }
}
