.head {
    display: flex;
    align-items: center;
    cursor: pointer;
}
.rightFlex {
    justify-content: flex-end;
}
.right {
    right: 0;
}
.arrow {
    margin-left: 14px;
}
.select {
    font-size: 12px;
    line-height: 12px;
    z-index: 65;
}

.element {
    cursor: pointer;
    padding: 14px 0;
    margin: 0 10px 0 4px;
}

.element:hover {
    color: #2c2e2b !important;
    font-weight: 500;
}

.element + .element {
    border-top: 1px solid #eeeeee;
}

.mainText {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@media (max-width: 540px) {
    .mainText {
        max-width: 240px;
    }
}
