.header {
    font-family: GraphikLCG;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #2c2e2b;
}

.h1 {
    font-size: 30px;
}

.h2 {
    font-size: 20px;
}
