.wrapper {
    border: 1px solid #f3f6f9;
    box-shadow: 0px 4px 6px rgba(170, 187, 208, 0.16);
    border-radius: 6px;
}

.border {
    height: 1px;
    background-color: #f3f6f9;
}

@media (min-width: 541px) {
    .w_padding > *:not(.border),
    .w_last_full > *:not(.border) {
        padding: 25px 30px;
    }

    .w_padding > *:not(.border):first-of-type,
    .w_last_full > *:not(.border):first-of-type {
        padding: 30px 30px 25px 30px;
    }

    .w_padding > *:not(.border):last-of-type {
        padding: 25px 30px 30px 30px;
    }

    .w_full > *:not(.border),
    .w_last_full > *:not(.border):last-of-type {
        padding: 30px;
    }

    .paddingBorder {
        margin: 0 30px;
    }
    .no_paddings {
        margin-left: -30px;
        margin-right: -30px;
    }
}

@media (max-width: 540px) {
    .w_padding > *:not(.border),
    .w_last_full > *:not(.border) {
        padding: 25px 23px;
    }

    .w_padding > *:not(.border):first-of-type,
    .w_last_full > *:not(.border):first-of-type {
        padding: 30px 23px 25px 23px;
    }

    .w_padding > *:not(.border):last-of-type {
        padding: 25px 23px 30px 23px;
    }

    .w_full > *:not(.border),
    .w_last_full > *:not(.border):last-of-type {
        padding: 30px 23px;
    }

    .paddingBorder {
        margin: 0 23px;
    }
    .no_paddings {
        margin-left: -23px;
        margin-right: -23px;
    }
}
