.background {
    background: #f2f6fb;
    padding: 30px;
}

.header {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 120%;
    color: #2c2e2b;
    margin-bottom: 10px;
}

.regular {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 120%;
    color: #2c2e2b;
    margin-bottom: 10px;
}

.bold {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 120%;
    color: #2c2e2b;
}

.bigMargin {
    height: 15px;
}

.errorText {
    text-align: center;
    margin-bottom: 20px;
}

.errorButton {
    width: 210px;
    margin: 0 auto;
    display: block;
}

/** Grid **/
.grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
}

.fullLine {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / span 2;
}

@media (max-width: 768px) {
    .grid {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    }

    .fullLine {
        -ms-grid-column: 1;
        grid-column: 1;
    }
}

.right .value {
    text-align: right;
}

@media (max-width: 768px) {
    .right .value {
        text-align: left;
    }
}

.column1 {
    -ms-grid-column: 1;
}

.column2 {
    -ms-grid-column: 2;
}
